body {
    margin: 0;
    background-color: antiquewhite;
    font-family: "Mairyo", sans-serif;
}

#game-screen {
    position: relative;
    width: 100%;
    height: 850px;
    overflow: hidden; /* カードが画面外に出たら隠す */
}

.game-header {
    position: absolute;
    top: 20px;
    left: 20px;
    right: 20px;

    display: flex;
    justify-content: space-between;
    align-items: center;

    font-size: 30px;
    font-weight: bold;
}

#timer {
    font-weight: bold;
}

#score {
    font-weight: bold;
}

.card-area {
    position: absolute;
    inset: 0;
    width: 100%;
    height: 100%;
}

.card-input {
    width: 60px;
    height: 32px;
    font-size: 20px;
    font-weight: bold;
    text-align: center;

    border: none;
    outline: none;
    background: #fff;
    border-radius: 6px;
}

/*
.card {
    position: absolute;
    top: -60px;
    width: 120px;
    padding: 12px 0;
    background-color: aqua;
    border: 2px solid #333;
    border-radius: 6px;
    text-align: center;
    font-size: 15px;
    font-weight: bold;
}
*/

/* 生成カード */
.calc-card {
    position: absolute;

    width: 180px;
    height: 140px;

    background: linear-gradient(180deg, #1abf11, #1ae61a);
    border-radius: 14px;
    border: 2px solid #2f7d32;

    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 12px;
    
    outline: 2px solid red;

    font-size: 24px;
    font-weight: bold;
    color: #333;

    box-shadow: 0 6px 12px rgba(0,0,0,0.25);
    z-index: 10;
}


/* 選択中のカード */
.calc-card.selected {
    border: 3px solid red;
    box-shadow: 0 0 15px rgba(255, 77, 77, 0.8);
    transform: scale(1.1);
    z-index: 20;
}

/* 計算式部分 */
.calc-text {
    white-space: nowrap;
}



/* 〇 / ✖ 表示 */
.result-mark {
    position: absolute;
    left: -30px;
    top: 50%;
    transform: translateY(-50%);
    font-size: 50px;
    font-weight: bold;
    pointer-events: none;
}

.result-mark.correct {
    color: red;
}

.result-mark.wrong {
    color: blue;
}

#countdown-overlay {
    position: absolute;
    inset: 0;
    background: rgba(0, 0, 0, 0.4);

    display: flex;
    align-items: center;
    justify-content: center;

    font-size: 120px;
    font-weight: bold;
    color: red;

    z-index: 100;
    pointer-events: none;
}