.result-screen {
    position: relative;
    width: 100%;
    height: 850px;
    background-color: antiquewhite;
}

/* 結果の大きい枠 */
.result-box {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    width: 500px;
    padding: 40px;

    background-color: white;
    border: 3px solid #333;
    border-radius: 13px;
    text-align: center;
}

/* 最終スコア */
.final-score {
    font-size: 40px;
    font-weight: bold;
    margin-bottom: 30px;
}

#final-score-value {
    font-size: 43px;
    color: deeppink;
}

/* 詳細表示 */
.result-details div{
    font-size: 30px;
    line-height: 2;
    margin-bottom: 20px;
    color: deeppink;
}

/* 共通ボタン */
.buttons {
    display: flex;
    gap: 40px;
}

.buttons button{
    padding: 14px 20px;
    font-size: 26px;
    font-weight: bold;
    cursor: pointer;
    border: none;
    border-radius: 9px;
    color: white;
}

/* スタートに戻るボタン */
#back-start-btn {
    position: absolute;
    left: 30px;
    bottom: 20px;
    background-color: red;

    border: none;
    outline: none;
}

/* リトライボタン */
#retry-btn {
    position: absolute;
    right: 30px;
    bottom: 20px;
    background-color: green;

    border: none;
    outline: none;
}
