.select-difficult-screen {
    position: relative;
    width: 100%;
    height: 850px;
    background-color: antiquewhite;
}

.title {
    font-size: 40px;
    font-weight: bold;
    margin-bottom: 30px;
}

.level-block {
    margin-bottom: 25px;
    margin-left: 20px;
}

.description {
    color: brown;
    font-size: 30px;
    font-weight: bold;
    margin: 20px 0 0 20px;
}

/* 共通ボタン */
.buttons button {
    width: 200px;
    height: 60px;
    font-size: 28px;
    font-weight: bold;
    color: white;
    border: 2px solid #006666;
    cursor: pointer;
}

.buttons {
    display: flex;
    gap: 40px;
}

/* 難易度別カラー */
.easy-btn {
    background-color: blue;
}

.normal-btn {
    background-color: green;
}

.hard-btn {
    background-color: red;
}

/* 難易度ボタン共通 */
.level-block button {
    width: 220px;
    height: 60px;
    font-size: 26px;
    font-weight: bold;
    color: white;
    border: none;
    cursor: pointer;

    outline: 5px solid white;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.4);
}

/* スタートに戻るボタン */
.back-btn {
    position: absolute;
    left: 30px;
    bottom: 20px;
    background-color: red;

    border: none;
    outline: none;
}

/* ゲーム開始ボタン */
.gamestart-btn {
    position: absolute;
    right: 30px;
    bottom: 20px;
    background-color: blue;

    border: none;
    outline: none;
}

.gamestart-btn:disabled {
    opacity: 0.5;
    cursor: not-allowed;
}