.main {
    height: 850px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: blanchedalmond;
}

.game-title {
    font-size: 100px;
    font-weight: bold;
    text-align: center;
    margin-bottom: 40px;
}

.buttons{
    display: flex;
    gap: 40px;
}

.buttons button {
    width: 200px;
    font-weight: bold;
    padding: 30px 0;
    font-size: 27px;
    cursor: pointer;
}

#howto-btn {
  background-color: red;
  color: white;

  border: none;      /* 内枠線を削除 */
  outline: none;     /* フォーカス枠も削除 */
}

#select-btn {
  background-color: blue;
  color: white;

  border: none;      /* 内枠線を削除 */
  outline: none;     /* フォーカス枠も削除 */
}